.react-slider {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;

    ul, li {
        padding: 0;
        margin: 0;
    }

    li, li * {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
    }

    li img {
        pointer-events: none;
    }

}

.react-slider-slides {
    position: relative;
}

.react-slider-slide {
    display: inline-block;
    vertical-align: top;
}

.react-slider.vertical-slider {
    height: 100%;
    .react-slider-slide {
        display: block;
        width: 100%;
    }
}